In [ ]:
#for numerical computing
import numpy as np
#for dataframes
import pandas as pd
#Ignore Warnings
import warnings
warnings.filterwarnings("ignore")
#to split train and test set
from sklearn.model_selection import train_test_split
#data preprocessing
from sklearn.preprocessing import StandardScaler, LabelEncoder
from collections import Counter

import sklearn.metrics as sm

In [ ]:
df=pd.read_csv('city_day.csv')
print(df.shape)
print(df.columns)
#df['Date'] = pd.to_datetime(df['Date'])
#df.rename(columns = {'AQI_Bucket':'Air_quality'}, inplace = True)
df.info()

(29531, 16)
Index(['City', 'Date', 'PM2.5', 'PM10', 'NO', 'NO2', 'NOx', 'NH3', 'CO', 'SO2',
       'O3', 'Benzene', 'Toluene', 'Xylene', 'AQI', 'AQI_Bucket'],
      dtype='object')
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29531 entries, 0 to 29530
Data columns (total 16 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   City        29531 non-null  object
 1   Date        29531 non-null  object
 2   PM2.5       24933 non-null  float64
 3   PM10        18391 non-null  float64
 4   NO          25949 non-null  float64
 5   NO2         25946 non-null  float64
 6   NOx         25346 non-null  float64
 7   NH3         19203 non-null  float64
 8   CO          27472 non-null  float64
 9   SO2         25677 non-null  float64
 10  O3          25509 non-null  float64
 11  Benzene     23908 non-null  float64
 12  Toluene     21490 non-null  float64
 13  Xylene      11422 non-null  float64
 14  AQI         24850 non-null  float64
 15  AQI_Bucket  24850 non-null  object
dtypes: float64(13), object(3)
memory usage: 3.6+ MB

In [ ]:

df.describe()

              PM2.5          PM10  ...        Xylene           AQI
count  24933.000000  18391.000000  ...  11422.000000  24850.000000
mean      67.450578    118.127103  ...      3.070128    166.463581
std       64.661449     90.605110  ...      6.323247    140.696585
min        0.040000      0.010000  ...      0.000000     13.000000
25%       28.820000     56.255000  ...      0.140000     81.000000
50%       48.570000     95.680000  ...      0.980000    118.000000
75%       80.590000    149.745000  ...      3.350000    208.000000
max      949.990000   1000.000000  ...    170.370000   2049.000000

[8 rows x 13 columns]

In [ ]:
print(df.head())
print(df.describe())
print(df)

        City        Date  PM2.5  PM10  ...  Toluene  Xylene  AQI  AQI_Bucket
0  Ahmedabad  01/01/2015    NaN   NaN  ...     0.02    0.00  NaN         NaN
1  Ahmedabad  02/01/2015    NaN   NaN  ...     5.50    3.77  NaN         NaN
2  Ahmedabad  03/01/2015    NaN   NaN  ...    16.40    2.25  NaN         NaN
3  Ahmedabad  04/01/2015    NaN   NaN  ...    10.14    1.00  NaN         NaN
4  Ahmedabad  05/01/2015    NaN   NaN  ...    18.89    2.78  NaN         NaN

[5 rows x 16 columns]
              PM2.5          PM10  ...        Xylene           AQI
count  24933.000000  18391.000000  ...  11422.000000  24850.000000
mean      67.450578    118.127103  ...      3.070128    166.463581
std       64.661449     90.605110  ...      6.323247    140.696585
min        0.040000      0.010000  ...      0.000000     13.000000
25%       28.820000     56.255000  ...      0.140000     81.000000
50%       48.570000     95.680000  ...      0.980000    118.000000
75%       80.590000    149.745000  ...      3.350000    208.000000
max      949.990000   1000.000000  ...    170.370000   2049.000000

[8 rows x 13 columns]
                City        Date  PM2.5  ...  Xylene   AQI    AQI_Bucket
0          Ahmedabad  01/01/2015    NaN  ...    0.00   NaN           NaN
1          Ahmedabad  02/01/2015    NaN  ...    3.77   NaN           NaN
2          Ahmedabad  03/01/2015    NaN  ...    2.25   NaN           NaN
3          Ahmedabad  04/01/2015    NaN  ...    1.00   NaN           NaN
4          Ahmedabad  05/01/2015    NaN  ...    2.78   NaN           NaN
...              ...         ...    ...  ...     ...   ...           ...
29526  Visakhapatnam  27/06/2020  15.02  ...    0.73  41.0          Good
29527  Visakhapatnam  28/06/2020  24.38  ...    0.38  70.0  Satisfactory
29528  Visakhapatnam  29/06/2020  22.91  ...    0.00  68.0  Satisfactory
29529  Visakhapatnam  30/06/2020  16.64  ...    0.00  54.0  Satisfactory
29530  Visakhapatnam  01/07/2020  15.00  ...     NaN  50.0          Good

[29531 rows x 16 columns]

In [ ]:
df=df.drop_duplicates()

In [ ]:
print(df.shape)

(29531, 16)

In [ ]:
print(df.isnull().sum())

City              0
Date              0
PM2.5          4598
PM10          11140
NO             3582
NO2            3585
NOx            4185
NH3           10328
CO             2059
SO2            3854
O3             4022
Benzene        5623
Toluene        8041
Xylene        18109
AQI            4681
AQI_Bucket     4681
dtype: int64

In [ ]:
df=df.dropna()

In [ ]:
print(df.isnull().sum())
df.drop(["City","Date","AQI_Bucket"],axis=1,inplace=True)

df.describe()
print(df)

City          0
Date          0
PM2.5         0
PM10          0
NO            0
NO2           0
NOx           0
NH3           0
CO            0
SO2           0
O3            0
Benzene       0
Toluene       0
Xylene        0
AQI           0
AQI_Bucket    0
dtype: int64
       PM2.5    PM10    NO    NO2  ...  Benzene  Toluene  Xylene    AQI
2123   81.40  124.50  1.44  20.50  ...     0.20     6.50    0.06  184.0
2124   78.32  129.06  1.26  26.00  ...     0.22     7.95    0.08  197.0
2125   88.76  135.32  6.60  30.85  ...     0.29     7.63    0.12  198.0
2126   64.18  104.09  2.56  28.07  ...     0.17     5.02    0.07  188.0
2127   72.47  114.84  5.23  23.20  ...     0.21     4.71    0.08  173.0
...      ...     ...   ...    ...  ...      ...      ...     ...    ...
29525   7.63   32.27  5.91  23.27  ...     1.45     5.37    1.45   47.0
29526  15.02   50.94  7.68  25.06  ...     2.24    12.07    0.73   41.0
29527  24.38   74.09  3.42  26.06  ...     0.74     2.21    0.38   70.0
29528  22.91   65.73  3.45  29.53  ...     0.01     0.01    0.00   68.0
29529  16.64   49.97  4.05  29.26  ...     0.00     0.00    0.00   54.0

[6236 rows x 13 columns]

In [ ]:
print(df.corr())
cor = df.corr()
cor.style.background_gradient(cmap='coolwarm')

            PM2.5      PM10        NO  ...   Toluene    Xylene       AQI
PM2.5    1.000000  0.895543  0.604239  ...  0.475935  0.068741  0.924028
PM10     0.895543  1.000000  0.633340  ...  0.518722  0.092896  0.916576
NO       0.604239  0.633340  1.000000  ...  0.541146  0.134869  0.622031
NO2      0.559055  0.625172  0.527426  ...  0.499104  0.081074  0.576308
NOx      0.618705  0.672993  0.875593  ...  0.596449  0.183274  0.658264
NH3      0.582025  0.585555  0.432795  ...  0.323563  0.015100  0.589695
CO       0.422486  0.395632  0.292911  ...  0.200851  0.111264  0.494508
SO2      0.249567  0.280301  0.200964  ...  0.155446  0.002030  0.254686
O3       0.293691  0.306355  0.048602  ...  0.068549 -0.079171  0.334609
Benzene  0.203572  0.222376  0.377932  ...  0.469256  0.281133  0.207927
Toluene  0.475935  0.518722  0.541146  ...  1.000000  0.136310  0.466346
Xylene   0.068741  0.092896  0.134869  ...  0.136310  1.000000  0.073873
AQI      0.924028  0.916576  0.622031  ...  0.466346  0.073873  1.000000

[13 rows x 13 columns]

In [ ]:
y = df["AQI"]
x = df[['PM2.5', 'PM10', 'NO', 'NO2', 'NOx', 'NH3', 'CO', 'SO2','O3', 'Benzene', 'Toluene', 'Xylene']]
#Split X and y into train and test sets
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size = 0.3, random_state = 0)

In [ ]:

print(X_test)

        PM2.5    PM10      NO    NO2  ...     O3  Benzene  Toluene  Xylene
12081  209.97  330.91   89.41  67.09  ...  26.60     5.97    36.87    1.36
19784   10.46   25.57    3.84   8.20  ...  37.78     1.19     5.39    0.31
19519   32.78   58.33   15.57  30.56  ...  19.00    15.26    12.28    3.87
14879  252.47   64.38    3.09   0.64  ...  31.40     1.08     4.53    0.49
28665   82.74  155.27    1.00   0.51  ...  30.64     7.24    12.42    4.18
...       ...     ...     ...    ...  ...    ...      ...      ...     ...
3870    74.98  145.44  103.44  69.80  ...  33.14     4.78     2.20   10.98
29485    6.30   17.76    1.09  12.21  ...  17.14     0.86     6.90    0.29
28752   25.41   87.91   16.73  46.17  ...  21.87     5.43    13.40    4.13
7806    14.48   42.99    1.49  10.16  ...  34.95     3.07     0.19    0.68
12216   58.90  156.29   16.38  34.31  ...  40.80     2.17    24.61    1.52

[1871 rows x 12 columns]

In [ ]:

print('Classes and number of values in trainset',Counter(y_train))

Classes and number of values in trainset Counter({102.0: 46, 106.0: 45, 122.0: 45, 104.0: 44, 100.0: 42, 110.0: 42, 101.0: 41, 85.0: 41, 112.0: 38, 60.0: 38, 86.0: 38, 82.0: 37, 79.0: 37, 107.0: 37, 117.0: 37, 124.0: 36, 98.0: 36, 74.0: 36, 95.0: 35, 114.0: 35, 126.0: 34, 68.0: 34, 91.0: 33, 56.0: 32, 81.0: 32, 127.0: 32, 80.0: 32, 90.0: 32, 130.0: 31, 103.0: 31, 47.0: 31, 131.0: 31, 61.0: 31, 105.0: 31, 99.0: 30, 121.0: 30, 66.0: 30, 109.0: 30, 87.0: 29, 54.0: 29, 65.0: 29, 96.0: 29, 55.0: 29, 70.0: 29, 108.0: 29, 77.0: 28, 76.0: 28, 113.0: 28, 48.0: 28, 67.0: 28, 51.0: 27, 53.0: 27, 111.0: 27, 83.0: 27, 88.0: 27, 50.0: 27, 120.0: 27, 64.0: 27, 63.0: 26, 49.0: 26, 118.0: 26, 52.0: 26, 116.0: 26, 129.0: 26, 93.0: 26, 92.0: 26, 69.0: 26, 97.0: 25, 75.0: 25, 73.0: 25, 84.0: 25, 62.0: 25, 89.0: 25, 59.0: 24, 133.0: 24, 94.0: 24, 128.0: 24, 132.0: 24, 72.0: 24, 46.0: 24, 78.0: 24, 123.0: 23, 138.0: 22, 71.0: 22, 125.0: 22, 147.0: 22, 136.0: 20, 140.0: 20, 119.0: 20, 146.0: 20, 115.0: 19, 44.0: 19, 58.0: 19, 137.0: 19, 156.0: 18, 148.0: 18, 134.0: 17, 158.0: 17, 139.0: 17, 143.0: 17, 45.0: 16, 135.0: 16, 144.0: 15, 160.0: 15, 43.0: 15, 151.0: 14, 40.0: 14, 154.0: 14, 41.0: 14, 165.0: 14, 149.0: 14, 174.0: 14, 150.0: 13, 145.0: 13, 57.0: 13, 141.0: 13, 142.0: 13, 199.0: 12, 172.0: 12, 152.0: 12, 164.0: 12, 153.0: 12, 39.0: 12, 37.0: 12, 179.0: 12, 162.0: 12, 34.0: 11, 42.0: 11, 38.0: 11, 163.0: 11, 169.0: 10, 334.0: 10, 155.0: 10, 35.0: 10, 184.0: 10, 226.0: 9, 251.0: 9, 266.0: 9, 159.0: 9, 194.0: 9, 167.0: 9, 36.0: 9, 168.0: 9, 161.0: 9, 157.0: 9, 191.0: 9, 257.0: 8, 32.0: 8, 274.0: 8, 230.0: 8, 175.0: 8, 205.0: 8, 228.0: 8, 317.0: 8, 198.0: 8, 171.0: 8, 170.0: 8, 166.0: 8, 176.0: 8, 218.0: 8, 315.0: 8, 310.0: 8, 234.0: 8, 202.0: 8, 298.0: 7, 229.0: 7, 186.0: 7, 177.0: 7, 183.0: 7, 309.0: 7, 217.0: 7, 320.0: 7, 206.0: 7, 235.0: 7, 182.0: 7, 340.0: 7, 196.0: 7, 200.0: 6, 173.0: 6, 302.0: 6, 189.0: 6, 242.0: 6, 335.0: 6, 370.0: 6, 281.0: 6, 207.0: 6, 279.0: 6, 338.0: 6, 319.0: 6, 284.0: 6, 277.0: 6, 208.0: 6, 247.0: 6, 384.0: 6, 221.0: 6, 190.0: 6, 300.0: 6, 180.0: 6, 269.0: 6, 210.0: 5, 237.0: 5, 236.0: 5, 285.0: 5, 256.0: 5, 356.0: 5, 313.0: 5, 248.0: 5, 241.0: 5, 215.0: 5, 197.0: 5, 203.0: 5, 231.0: 5, 254.0: 5, 383.0: 5, 375.0: 5, 222.0: 5, 244.0: 5, 292.0: 5, 318.0: 5, 187.0: 5, 377.0: 5, 219.0: 5, 33.0: 5, 224.0: 5, 246.0: 5, 245.0: 5, 288.0: 5, 321.0: 5, 263.0: 5, 192.0: 5, 278.0: 5, 331.0: 5, 253.0: 5, 204.0: 5, 223.0: 5, 181.0: 5, 227.0: 5, 330.0: 5, 314.0: 5, 195.0: 5, 262.0: 5, 296.0: 5, 293.0: 5, 275.0: 5, 233.0: 5, 287.0: 4, 280.0: 4, 388.0: 4, 268.0: 4, 31.0: 4, 347.0: 4, 188.0: 4, 290.0: 4, 232.0: 4, 240.0: 4, 276.0: 4, 265.0: 4, 272.0: 4, 366.0: 4, 454.0: 4, 220.0: 4, 209.0: 4, 295.0: 4, 297.0: 4, 212.0: 4, 255.0: 4, 343.0: 4, 291.0: 4, 475.0: 3, 323.0: 3, 396.0: 3, 389.0: 3, 312.0: 3, 264.0: 3, 259.0: 3, 225.0: 3, 303.0: 3, 211.0: 3, 201.0: 3, 328.0: 3, 376.0: 3, 252.0: 3, 282.0: 3, 270.0: 3, 271.0: 3, 324.0: 3, 322.0: 3, 267.0: 3, 360.0: 3, 283.0: 3, 365.0: 3, 353.0: 3, 349.0: 3, 214.0: 3, 332.0: 3, 286.0: 3, 185.0: 3, 352.0: 3, 336.0: 3, 273.0: 3, 398.0: 3, 378.0: 3, 367.0: 2, 417.0: 2, 193.0: 2, 397.0: 2, 368.0: 2, 344.0: 2, 30.0: 2, 450.0: 2, 478.0: 2, 178.0: 2, 327.0: 2, 289.0: 2, 413.0: 2, 455.0: 2, 260.0: 2, 392.0: 2, 306.0: 2, 369.0: 2, 451.0: 2, 29.0: 2, 346.0: 2, 537.0: 2, 354.0: 2, 357.0: 2, 444.0: 2, 345.0: 2, 406.0: 2, 374.0: 2, 311.0: 2, 350.0: 2, 341.0: 2, 431.0: 2, 249.0: 2, 213.0: 2, 421.0: 2, 372.0: 2, 308.0: 2, 404.0: 2, 305.0: 2, 316.0: 2, 239.0: 2, 394.0: 2, 329.0: 2, 238.0: 2, 358.0: 2, 387.0: 2, 307.0: 2, 425.0: 2, 415.0: 2, 258.0: 2, 438.0: 1, 472.0: 1, 463.0: 1, 351.0: 1, 591.0: 1, 423.0: 1, 443.0: 1, 440.0: 1, 243.0: 1, 502.0: 1, 458.0: 1, 261.0: 1, 405.0: 1, 382.0: 1, 510.0: 1, 381.0: 1, 359.0: 1, 371.0: 1, 522.0: 1, 399.0: 1, 362.0: 1, 400.0: 1, 333.0: 1, 449.0: 1, 428.0: 1, 473.0: 1, 437.0: 1, 433.0: 1, 348.0: 1, 385.0: 1, 364.0: 1, 373.0: 1, 480.0: 1, 430.0: 1, 597.0: 1, 294.0: 1, 557.0: 1, 380.0: 1, 391.0: 1, 452.0: 1, 401.0: 1, 487.0: 1, 484.0: 1, 403.0: 1, 390.0: 1, 432.0: 1, 468.0: 1, 593.0: 1, 482.0: 1, 613.0: 1, 339.0: 1, 304.0: 1, 299.0: 1, 411.0: 1, 561.0: 1, 506.0: 1, 659.0: 1, 342.0: 1, 441.0: 1, 460.0: 1, 501.0: 1, 497.0: 1, 577.0: 1, 24.0: 1, 422.0: 1, 301.0: 1, 216.0: 1, 379.0: 1, 326.0: 1, 361.0: 1, 419.0: 1, 515.0: 1, 439.0: 1, 325.0: 1})

In [ ]:
#Print number of observations in X_train,X_test,y_train and y_test
print(X_train.shape,X_test.shape,y_train.shape,y_test.shape)

(4365, 12) (1871, 12) (4365,) (1871,)

In [ ]:
from sklearn.ensemble import RandomForestRegressor
model1=RandomForestRegressor()
from sklearn.linear_model import LinearRegression
model2=LinearRegression()

model1.fit(X_train, y_train)
model2.fit(X_train, y_train)

LinearRegression()

In [ ]:
#Predict Test set results
y_pred1=model1.predict(X_test)
y_pred2=model2.predict(X_test)

In [ ]:
df1=pd.DataFrame({'Actual':y_test, 'Predicted':y_pred1})
print (df1)

       Actual  Predicted
12081   365.0     378.29
19784    51.0      49.62
19519    61.0      74.34
14879   216.0     453.52
28665   169.0     175.48
...       ...        ...
3870    114.0     175.17
29485    23.0      35.22
28752    81.0      85.81
7806     72.0      54.62
12216   154.0     152.59

[1871 rows x 2 columns]

In [ ]:
df2=pd.DataFrame({'Actual':y_test , 'Predicted':y_pred2})
print(df2)

       Actual   Predicted
12081   365.0  377.200023
19784    51.0   50.293687
19519    61.0   83.496065
14879   216.0  277.263230
28665   169.0  161.219649
...       ...         ...
3870    114.0  151.167319
29485    23.0   32.405274
28752    81.0   83.595046
7806     72.0   58.492260
12216   154.0  152.083498

[1871 rows x 2 columns]

In [ ]:
y_pred1= np.array(y_pred1).reshape(-1,1)
y_pred2= np.array(y_pred2).reshape(-1,1)

accuracy= sm.r2_score(y_test,y_pred1)
print("Accuracy of RandomForestRegressor is {:.2f} % ".format(accuracy*100))

Accuracy of RandomForestRegressor is 94.49 %

In [ ]:
accuracy=sm.r2_score(y_test,y_pred2)
print("Accuracy of Linear Regression is {:.2f} % ".format(accuracy*100))

Accuracy of Linear Regression is 91.21 %

In [ ]:
import pickle
pickle.dump(model1,open('rfr.pkl','wb'))